ErrorDocument 404 https://frogbidacademy.com/404.php

RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^About about.php [NE,L]
RewriteRule ^Mini-Master mini_master.php [NE,L]
RewriteRule ^Code-Star code_star.php [NE,L]
RewriteRule ^Code_Craft code_craft.php [NE,L]
RewriteRule ^Code_Master code_master.php [NE,L]
RewriteRule ^Junior-Vision junior_vision.php [NE,L]
RewriteRule ^Creative-Youth creative_youth.php [NE,L]
RewriteRule ^Studio-Art studio_art.php [NE,L]
RewriteRule ^Gallery gallery.php [NE,L]
RewriteRule ^Contact contact.php [NE,L]
RewriteRule ^Privacy-Policy privacy_policy.php [NE,L]